<section
  class="hero is-primary <% if (active === 'home') { %>is-medium<% } %>"
  id="top"
>
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a href="/" class="navbar-item">
            <img src="/img/hss.png" alt="Logo" />
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <a
              href="/"
              class="navbar-item <% if (active === 'home') { %>is-active<% } %>"
            >
              <span class="icon"><i class="fas fa-users"></i></span>
              <span>Candidates</span></a
            >
            <a
              href="/ballot"
              class="navbar-item <% if (active === 'ballot') { %>is-active<% } %>"
            >
              <span class="icon">
                <i class="fas fa-vote-yea"></i>
              </span>
              <span>Vote</span></a
            >
            <a
              href="/paper"
              class="navbar-item <% if (active === 'paper') { %>is-active<% } %>"
            >
              <span class="icon">
                <i class="fas fa-file-download"></i>
              </span>
              <span>Paper Ballot</span>
            </a>
            <a href="https://hssonline.org" class="navbar-item">
              <span class="icon">
                <i class="fas fa-home"></i>
              </span>
              <span>HSS Home</span>
            </a>
            <span class="navbar-item">
              <a
                href="http://weblink.donorperfect.com/hss-donate"
                class="button is-primary is-inverted"
              >
                <span class="icon has-text-danger">
                  <i class="far fa-heart"></i>
                </span>
                <span class="has-text-danger">Donate</span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-family-secondary is-2">
        History of Science Society
      </h1>
      <h2 class="subtitle">
        2020 Election
      </h2>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <% if (active === 'home') { %>
  <div class="hero-foot">
    <nav class="tabs is-centered is-boxed">
      <div class="container">
        <ul>
          <li><a href="#council">Council</a></li>
          <li><a href="#nomcom">Nominating Committee</a></li>
          <li><a href="#delegate">Council Delegate</a></li>
          <li><a href="#secretary">Secretary</a></li>
          <li><a href="#treasurer">Treasurer</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <% } %>
</section>
