<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Election Ballot</title>
    <link rel="stylesheet" href="/css/main.css" />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"
    ></script>
    <link rel="stylesheet" href="https://use.typekit.net/ywb0qrm.css" />
  </head>
  <body>
    <%- include('partials/header', {size: ''}); %>

    <main id="main" class="section">
      <div class="container">
        <section class="section">
          <div class="container">
            <form name="vote" method="post" data-netlify="true">
              <div class="field">
                <label class="label">Name</label>
                <div class="control">
                  <input
                    class="input"
                    type="text"
                    name="name"
                    placeholder="e.g Alex Smith"
                  />
                </div>
              </div>

              <div class="field">
                <label class="label">Email</label>
                <div class="control">
                  <input
                    class="input"
                    type="email"
                    name="email"
                    placeholder="e.g. alexsmith@gmail.com"
                  />
                </div>
              </div>

              <div class="field">
                <label for="vote-1" class="label">Council Vote 1</label>
                <div class="control has-icons-left">
                  <div class="select">
                    <select name="vote-1">
                      <option disabled selected>Select first nominee</option>
                      <% council.forEach(function(nominee, idx) { %>
                      <option><%= nominee.name %></option>
                      <% }) %>
                    </select>
                    <span class="icon is-small is-left">
                      <i class="fas fa-user"></i>
                    </span>
                  </div>
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <button type="submit" class="button is-primary">
                    Submit
                  </button>
                </div>
              </div>
            </form>
          </div>
        </section>
      </div>
    </main>
  </body>
</html>
