<%- include('partials/head'); %>

<body>
  <%- include('partials/header', {active: 'ballot'}); %>

  <main id="main">
    <div class="container">
      <div class="container" style="padding-bottom: 100px;">
        <!-- <iframe
          src="https://hssonline.formstack.com/forms/election"
          title="Election"
          width="100%"
          height="400"
        ></iframe> -->
        <script
          type="text/javascript"
          src="https://hssonline.formstack.com/forms/js.php/election"
        ></script>
        <noscript
          ><a
            href="https://hssonline.formstack.com/forms/election"
            title="Online Form"
            >Online Form - Election</a
          ></noscript
        >
      </div>
    </div>
  </main>
  <script src="/js/main.js"></script>
</body>

<%- include('partials/foot'); %>
