<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Election Ballot</title>
    <link rel="stylesheet" href="/dist/css/main.css" />
  </head>
  <body>
    <main>
      <section class="council">
        <% submissions.forEach(function(nominee) { %>
        <article class="council__card">
          <div class="council__img-container">
            <img
              src="<%= nominee.data['61994616'].value %>"
              alt="<%= nominee.data['61992777'].value %>"
            />
          </div>
        </article>
        <% }) %>
      </section>
    </main>
  </body>
</html>
